.ListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: 0.2s;
}

.ListItem:hover {
    box-shadow: 2px 2px 7px rgb(90, 90, 90);
    background-color: rgb(182, 52, 52);
    color: white;
}

.ListItem:hover .ListItem-button {
    color: white;
}

.ListItem-tarefa {
    font-size: 0.8rem;
    font-weight: bold;
}

.ListItem-button {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.delete {
    color: rgb(255, 0, 0);
}

.edit {
    color: rgb(35, 157, 228);
}
